<% if commentable.comments.present? %>
<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:avatar) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= Comment.human_attribute_name(:content) %></th>
      <th><%= Comment.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>

  <tbody>
    <% commentable.comments.each do |comment| %>
      <tr>
        <td>
          <% if User.find(comment.user_id).avatar.attached? %>
            <%= image_tag User.find(comment.user_id).avatar.variant(resize_to_fill: [30, 30]) %>
          <% end %>
        </td>
        <td>
          <% if User.find(comment.user_id).name? %>
            <%= User.find(comment.user_id).name %>
          <% else %>
            <%= User.find(comment.user_id).email %>
          <% end %>
        </td>
        <td><%= comment.content %></td>
        <td><%= localize comment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p><%= Comment.model_name.human %><%= t('views.common.nothing') %></p>
<% end %>

<%= form_with model: [commentable, Comment.new] do |f| %>
  <textarea name="comment[content]" required="required"></textarea>
  <div class="actions">
    <%= f.submit Comment.model_name.human %>
  </div>
<% end %>
