<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150]) %>
  <% end %>
</p>

<p>
  <strong><%= User.human_attribute_name(:following) %>:</strong>
  <%= @user.followings.count %>
</p>

<p>
  <strong><%= User.human_attribute_name(:follower) %>:</strong>
  <%= @user.followers.count %>
</p>

<%= link_to User.human_attribute_name(:following_list), followings_user_path(@user.id) %>

<br>

<%= link_to User.human_attribute_name(:follower_list), followers_user_path(@user.id) %>

<br>

<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %>
<% elsif current_user.following?(@user) %>
  <%= link_to User.human_attribute_name(:unfollow), follow_path(@user.id), method: :delete %>
<% else %>
  <%= link_to User.human_attribute_name(:follow),follows_path(@user.id), method: :post %>
<% end %>

<br>

<%= link_to t('views.common.back'), users_path %>
