<% if @users.exists? %>
  <table>
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= User.human_attribute_name(:following) %></th>
        <th><%= User.human_attribute_name(:follower) %></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.followings.count %></td>
          <td><%= user.followers.count %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% else %>
  <p><%= User.human_attribute_name(:none) %></p>
<% end %>

<%= link_to "戻る", :back %>
